header {
    height:100px;
    position: relative;
}
header #logo {
    position:absolute;
    top: 10px;
    left: 20px;
}
header #top_menu {
    position: absolute;
    top: 10px;
    left: 650px;
}
header #main_menu {
    width: 800px;
    height: 38px;
    background-color:#0aef1d;
    background-repeat: no-repeat;
    position:absolute;
    top: 40px;
    left: 170px;
}
header #main_menu li {
    display: inline-block;
    margin: 12px 30px 0 50px;
    font-size: 13px;
}
header #main_menu a:link {
    text-decoration:none;
    color:#ffffff;
}
header #main_menu a:hover {
    text-decoration:none;
    color:#ffffff;
}
header #main_menu a:visited {
    text-decoration:none;
    color:#ffffff
}
header #main_menu a:active {
    text-decoration: none;
    color:#ffffff;
}
